<ion-content class="homepage-content">
  <div class="welcome-banner">
    <h1 class="welcome-title">
      Welcome back,<span class="user-name">{{ userName }}</span
      >!
    </h1>

    <p class="welcome-subtitle">
      Here are your groups. Tap on a group to view details or manage expenses.
    </p>
  </div>
  <div class="groups-container">
    <div class="groups-header">
      <h2 class="groups-title">Groups</h2>
      <div class="groups-divider"></div>
    </div>
    <div *ngIf="isLoading" class="loading-wrapper">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
      <div *ngIf="groups?.length; else noGroups" class="groups-grid">
        <app-group-card
          *ngFor="let g of groups"
          [group]="g"
          (select)="openGroup($event)"
        ></app-group-card>
      </div>

      <ng-template #noGroups>
        <div class="no-groups">You are not part of any groups yet.</div>
      </ng-template>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="create-fab">
    <ion-fab-button (click)="createGroup()">
      <img
        src="assets/icon/create-group-icon.svg"
        alt="Create group"
        class="create-group-img"
      />
    </ion-fab-button>
  </ion-fab>
</ion-content>
