<ion-content class="ion-padding">
  <div>
    <ion-label>
      <ion-title>Login</ion-title>
    </ion-label>

    <div>
      <ion-item>
        <ion-input label="Email" type="email" [(ngModel)]="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" type="password" [(ngModel)]="password">
        </ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" (click)="login()">
        Login
      </ion-button>
    </div>
  </div>
</ion-content>
