<ion-content class="ion-padding">
  <div>
    <ion-img
      class="login-image"
      src="assets/images/expense-manager.png"
    ></ion-img>
  </div>
  <div class="login-container">

    <div class="form-container">
      <div class="input-feilds">
        <ion-item class="form-feild">
          <ion-input label="Email:" type="email" [(ngModel)]="email">
          </ion-input>
        </ion-item>

        <ion-item class="form-feild">
          <ion-input label="Password:" type="password" [(ngModel)]="password">
          </ion-input>
        </ion-item>
      </div>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="login()"
        [disabled]="isLoginClicked"
      >
        <ng-container *ngIf="!isLoginClicked; else loggingIn"
          >Login</ng-container
        >
        <ng-template #loggingIn>
          <ion-spinner name="crescent" slot="start"></ion-spinner>
          Logging in...
        </ng-template>
      </ion-button>
    </div>
  </div>
  <div class="create-user" (click)="createUser()">Not an user? Click here</div>
</ion-content>
