<ion-content class="ion-padding">
  <div>
    <ion-label>
      <ion-title>Login</ion-title>
    </ion-label>

    <div>
      <ion-item>
        <ion-input label="Email" type="email" [(ngModel)]="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Password" type="password" [(ngModel)]="password">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="login()"
        [disabled]="isLoginClicked"
      >
        Login
      </ion-button>
    </div>
  </div>
  <div (click)="createUser()">Not an user?Click here</div>
</ion-content>
