body {
  background-color: white;
}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  .login-title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
  }

  .form-feild{
    border-color: black;

  }
}
.create-user{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: #118c4f;
  text-decoration: underline;
  cursor: pointer;
}
