body {
  background-color: white;
}

.login-image{
  display: flex;
  align-items: center;
  margin-left: 15px;
  transform: scale(1.1);

}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  .form-container {
    display: flex;

    flex-direction: column;
    .input-feilds {
      border: 3px dashed black;
      
    }
  }
}
.create-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: #118c4f;
  text-decoration: underline;
  cursor: pointer;
}
