.create-group-header ion-toolbar {
  --background: #118c4f;
  --color: #ffffff;
}

.create-group-header ion-title {
  color: #ffffff;
  font-weight: 600;
}

.back-icon {
  color: #ffffff;
  fill: #ffffff;
}

.back-button {
  color: #ffffff;
}
.create-group-content {
  padding: 16px;
  .create-group-container{
    padding: 0 !important;
    .add-button{
      padding-top: 10px ;
      border-color: #118c4f !important;
    }
  }
}

.members-list {
  margin: 12px 0;
  .members-list-container{
    padding: 0 !important;
  }
}

.member-name {
  font-weight: 600;
}

.member-email {
  color: #6c757d;
  font-size: 0.85rem;
  margin-top: 2px;
}

.error-message {
  background-color: #d3d3d3;
  color: #d32f2f;
  font-size: 0.85rem;
  padding-left:100px;
  height: 20px;
}

.actions {
  margin-top: 24px;
}

/* back button styling (same as other pages) */
.back-button {
  --padding-start: 6px;
  --padding-end: 6px;
}
.back-icon {
  width: 20px;
  height: 20px;
}
